<!DOCTYPE html>
<html>
<head>
<title>
Welcome to Sharecipe
</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
        
        <div class="container">

      <div class="row">
       
        <div class="col-sm-12 text-center v-center">
          <!-- put inside this div class-->
          <h1>Login</h1>
          
          <br>
		  <form name = "form" action = "{% url 'login' %}">{% csrf_token %}
		  <input type="email" class="center-block form-control input-lg" title="Email" placeholder="Enter your email address">
		  <input type="password" class="center-block form-control input-lg" title="password" placeholder="Enter password">
		  <input type="password" class="center-block form-control input-lg" title="confirm Password" placeholder="confirm your password">
		  <br>
		  <div class="col-lg-12 text-center v-center">
		  
		  <button class="btn btn-lg btn-primary" type="submit">Signup</button></a>
		  
		  </div>
		  </form>
		</div>
         <!-- <form class="col-lg-12">
            <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
              <input type="text" class="center-block form-control input-lg" title="Enter you email." placeholder="Enter your email address">
              <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
            </div>
          </form>
        </div>
        
      </div> <!-- /row -->
  
  	  <div class="row">
       
        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <a href="#"><span class="icon-google-plus"></span></a> <a href="#"><span class="icon-facebook"></span></a>  <a href="#"><span class="icon-twitter"></span></a>
        </div>
      
      </div>
  
  	<br><br><br><br><br>

</div>
</body>
</html>